.btn {
  width: 16rem;
  height: 4rem;
  text-decoration: none;
  @include flex-position(space-around);
  position: relative;

  &:hover &-bg {
    width: 18rem;
  }

  &:hover &-text {
    color: color(secondary);
  }

  &:hover .arrow {
    transform: translateX(1rem);

    &-line-1 {
      width: 2rem;
    }
  }

  &-bg {
    width: 4rem;
    height: 4rem;
    background-color: color(primary);
    border-radius: 5rem;
    position: absolute;
    left: 0;
    transition: all 0.3s;
  }

  &-text {
    z-index: 10;
    font-size: size(xs);
    text-transform: uppercase;
    color: color(primary);
  }

  .arrow {
    @include flex-position;
    transition: all 0.3s;

    &-line {
      height: 0.2rem;
      background-color: color(secondary);
      position: absolute;
      transform-origin: right;
    }

    &-line-1 {
      width: 0;
      transform: translateX(-0.7rem);
      transition: width 0.3s;
    }

    &-line-2 {
      width: 1rem;
      transform: rotateZ(45deg);
    }

    &-line-3 {
      width: 1rem;
      transform: rotateZ(-45deg);
    }
  }
}
